<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">About Us </h5>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="vision">Vision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="myprofile">My Profile</a>
                </li>
              </ul> 
            <p class="card-text">
              <router-outlet></router-outlet>
            </p>
        </div>
      </div>
</div>